*{padding: 0;margin: 0}
.left{float:left}
.icon{border: 2px solid #999;}

#header{background:blue}
#ProfileNav{float:right}
#MainContainer{position:static}
#leftNav{position:absolute;left:0;top:30px;width:250px;background:blue}
#main{position:absolute;left:250px;top:30px;right:250px;background:red}
#rightNav{position:absolute;top:30px;right:0;width:250px;background:green}